<section class="shopping-list">
  <h1>Shopping List</h1>
  <div class="shopping-counter d-flex">
    <p>Amount of food items to buy: <%= @foods.size %> </p>
    <p> Total value of food needed: $ <%= @foods.sum('price')%> </p>
  </div>

  <table class="table table-striped table-bordered border-dark">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.name%></td>
        <td><%= RecipeFood.joins(:food).where(food_id: food.id).sum( 'quantity') %></td>
        <td>$ <%= food.price%></td>
      </tr>
    <% end %>
  </tbody>
  </table>
</section>
