<div class="public-recipes-section">
  <h1>Public Recipes</h1>
  <% @public_recipes.each do |recipe| %>
    <%= link_to recipe_path(recipe) do %> 
      <div class="recipe-public-card d-flex">
        <div class="recipe-public-header">
          <h2><%= recipe.name%></h2>
          <h4>By: <%= recipe.user.name %></h4>
        </div>
        <div class="recipe-public-counter">
          <p>Total food items: <%=recipe.total_food_items%></p>
          <p>Total price: $<%=recipe.total_price%></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
