<section class="recipe-details">
  <h2><%= @recipe.name %></h2>

  <div class="main-detail d-flex">
    <div class="recipe">
      <p>Preparation time: <%=@recipe.preparation_time%> hour</p>
      <p>Cooking time: <%=@recipe.cooking_time%> hours</p>
      <p>Step go here ...</p>
    </div>
    <div>
      <% if @recipe.public %>
        <p>Public: ON</p>
      <% else %>
        <p>Public: OFF</p>
      <% end %>
    </div>
  </div>
  <div class="detail-btns d-flex">
    <button>
     <%= link_to 'Generate shopping list', general_shopping_lists_path(@recipe), data: { turbo: false }, html: { method: :put}, class: "add-foods" %>
    </button>
    <button>
      <%= link_to 'Add ingredients', new_recipe_recipe_food_url(@recipe), data: { turbo: false }, html: { method: :put} %>
    </button>
  </div>
  <div class="line-detail"></div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Quantity</th>
        <th scope="col">Value</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @recipe_foods.each do |recipe_food| %>
        <tr>
          <td><%= recipe_food.food.name%></td>
          <td><%= recipe_food.quantity%></td>
          <td> $ <%= recipe_food.food.price %></td>
          <th scope="col">
            <%= button_to 'Remove', recipe_recipe_food_path(@recipe.id, recipe_food.id), method: :delete %>
          </th>
        </tr>
      <% end %>
    </tbody>
  </table>


  <div class="recipe-btn">
    <button>
      <%= link_to "back", public_recipes_path %>
      <% link_to "back", recipes_path %>
    </button>
  </div>
</section>