<div>
  <div class="food-title">
    <h1>My Food List</h1>
  </div>
  <div class="button">
    <button class="btn btn-primary mt-3">
      <%= link_to 'Add Food', new_food_path, data: { turbo: false }, html: { method: :put}, class: "add-food" %>
    </button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Food</th>
        <th scope="col">Measurement unit</th>
        <th scope="col">Unit price</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @foods.each do |food| %>
        <tr>
          <td><%= food.name%></td>
          <td><%= food.measurement_unit%> g</td>
          <td>$ <%= food.price%></td>
          <td><%=button_to 'Delete', {:controller => :foods, :action => 'destroy', :id => food.id}, :method => :delete%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
